.section1 {
    background-image: url(../image/background4.png);
    background-repeat: no-repeat;
}
.navbar {
    padding: 2rm;
    margin: 15px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.nav ul {
    float: right;
    margin-right: 20px;
}
.nav ul li {
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}
.nav ul li a {
    color: black;
    font-size: 17px;
    display: inline;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        text-align: right;
    }
    nav ul li {
        display: inline;
    }
    nav ul li a {
        font-size: 20px;
    }
}
.section2 {
    background-image: url(../image/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about-us {
    text-align: center;
    padding: 5px;
    margin: 5px;
}
.size {
    padding: 5px;
    margin: 10px;
    float: right;
    display: flex;
}
<<<<<<< HEAD
.section3 {
=======
.section5 {
>>>>>>> development
    background-image: url(../image/background3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.dropdown {
    width: 400px;
    margin: 80px auto;
}
.dropdown select {
    width: 100%;
    padding: 20px;
    display: none;
    margin: 20px;
}
.section6 {
    background-image: url(../image/work4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contact {
    text-align: center;
    margin: 10px;
    padding: 6px;
    display: inline-block;
}