
.topnav {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav ul {
    float: right;
    margin-right: 20px;
}
.nav ul li {
    display: inline;
    line-height: 80px;
    margin: 0 5px;
}
.nav ul li a {
    color: black;
    font-size: 17px;
    display: inline;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        text-align: right;
    }
    nav ul li {
        display: inline;
    }
    nav ul li a {
        font-size: 20px;
    }
}
.dropdown {
    width: 400px;
    margin: 80px auto;
}
.dropdown select {
    width: 100%;
}

